@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Play:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #422800;
  padding: 10px 30px;
}

.navbar a {
  text-decoration: none;
  color: #fbeee0;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

 ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

html {
  background-image: url(/images/coffeeshop1.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
}

.homeContainer {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.coffeeMessage {
  color: #fbeee0;
  font-size: 100px;
  text-shadow: 
  -1px 5px 0px #422800, /* Left shadow */
    5px 0px 0px #422800, /* Right shadow */
    5px -1px 0px #422800, /* Top shadow */
    0px 1px 0px #422800; /* Bottom shadow */
}

.shopNow {
  text-decoration: none;
  align-self: center;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
}

.shopNow:hover {
  transform: scale(1.1);
}

.home-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.cart-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.nav, .nav2 {
  display: flex;
  align-items: center;
}

.cart-badge {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 500;
  position: static;
}
