html {
  background-color: #fbeee0;
}

.cartContainer {
  background-color: #fbeee0;
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  height: 70vh;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row button,
.add,
.remove {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-1,
.col-2 {
  font-size: 20px;
  margin: 10px;
}

.row.center {
  align-items: center;
}
